<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body style="background: #FF6F70">
<div id="container">
  <nav>
    <h1>PlacePulse UC</h1>
    <ul>
        <li><a href="{{ url_for('auth.index') }}">Español</a>
        <li><a href="{{ url_for('auth.index') }}">English</a>
    </ul>
  </nav>
  <header>
  </header>
  <section class="content" >
      <div class="instructions" id="text1" style="width: 100%;height: 500px; float: left;">
            <div class="fullscreen-video-wrap">
                  <video src="/static/180301_03_B_CausewayBay_02.mp4" autoplay="true" loop="true"></video>
            </div>
            <div class="layer-above-video"></div>
            <div class="text-above-video">
                  <div style="height: 40%;">
                        <h2>Bienvenido!</h2>
                  </div>
                  <div style="height: 60%;width: 60%;">
                        <h3>Con esta encuesta queremos identificar qué elementos de los espacios públicos te hacen sentir a gusto</h3>
                  </div>
            </div>
      </div>


      <div id="text2" class="instructions" style="width: 100%;height: 500px; float: left;">
            <p>A continuación, le presentaremos dos imágenes y una pregunta</p>
            <div style="width: 90%; background: white; float: left;">
            </div>


      </div>



      <div id="text3" class="instructions" style="width: 100%;height: 500px; float: left;">
            <p>Usted podrá escoger cuál de las dos prefiere,</br>
              haciendo click sobre la imágen que quiere seleccionar.</p>
      </div>
      <div id="text4" class="instructions" style="width: 100%;height: 500px; float: left;">
            <p>En caso de pensar que son muy similares,</br>
            puede hacer click en el símbolo "=".</p>
      </div>
      <div id="text5" class="instructions" style="width: 100%;height: 500px; float: left;">
            <p>En caso de detectar un erros, o una imagen que no le permite escoger, por favor oprima el botón "no aplica"</p>
      </div>
      <a href="#" id="back">&#8810;</a>
      <a href="#" id="next">&#8811;</a>
      <a id="register" href="{{ url_for('auth.register') }}">Comenzar</a>
  </section>

  <footer>
      <a href="{{ url_for('auth.about_us') }}">About us</a>
  </footer>
</div>
</body>
</html>

<script>
  var count = 1;
  $(document).ready(function(){
    $(".instructions").hide();
    $("a#register").hide();
    $("a#back").hide();
    $("div#text"+count).show();

    $("#next").click(function(){
      $(".instructions").hide();
      $("a#back").show();
      count ++;
      if(count <= 4){
        $("div#text"+count).show();
        $("a#next").show();
      } else {
        $("div#text"+count).show();
        $("a#next").hide();
        $("a#register").show();
      };
      });


    $("#back").click(function(){
      $(".instructions").hide();
      count --;
      if(count == 1){
        $("div#text"+count).show();
        $("a#back").hide();
      } else if(count <= 4) {
        $("div#text"+count).show();
        $("a#next").show();
        $("a#register").hide();
      };
  });
     });  
</script>